.apptTitle{
    height: 44px;
    display: flex;
    background: #fff;
    border-bottom:1px solid #e9e9e9;
    box-sizing: border-box;
    position: relative;
    z-index: 9
}

.titleItem{
    flex:1;
    font-size:16px;
    line-height: 44px;
    text-align:center;
    border-right:1px solid #e9e9e9;

    span{
        margin-left: 4px;
        color: #ff8800;
    }

    &.active{
       background: #2196f3;
       color: #fff
    }
}

.apptCont{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.apptOne{
    height: 160px;
    background: #fff;
    margin-top:10px;
    display: flex;
    padding: 8px;
    position: relative;
    box-sizing: border-box;
}

.apptImg{
    width:55px;
    img{
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin-top:5px;
        border: 1px solid #e9e9e9;
    }
}

.apptInfos{
    flex:1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.apptName{
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    span{
        font-size: 16px;
        font-weight:bolder;
    }

    a{
        color: rgb(0,0,0);
    }
}

.apptItem{
    flex: 1;
    font-size: 14px;
    padding-top: 2px;
    span{
        color:#a0a0a0;
    }
}

.apptBtn{
    height: 40px;
    display: flex;
    justify-content: flex-start;
}

.sureBtn{
    line-height: 40px;
    width: 110px;
    background: #2196f3;
    color:#fff;
    text-align: center;
    margin-right: 10px;
    border-radius:5px;
}

.contactBtn{
    line-height: 40px;
    width: 110px;
    background: #ff9a00;
    color: #fff;
    text-align: center;
    border-radius:5px;
}

.apptBtnComment{
    height: 40px;
    display: flex;
    padding-left: 60px;
}

.commentBtn{
    line-height: 40px;
    width: 110px;
    background: #e3e3e3;
    text-align: center;
    border-radius:5px; 
}

.apptComment{
    height: 40px;
    display: flex; 

    img[alt=""]{
        opacity: 0;
    }
}

.stars {
    width: 140px;
    text-align: right;
    padding-top: 8px;
}

.propItem{
    width:50px;
    height: 40px;
    // background: url(manager/resources/flower.png) no-repeat center;
    // background-size: contain;
}

.apptDetail{
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    background: url(manager/resources/details.png) no-repeat center right 10px;
    background-size: 20px 20px;
}

.checkBoxCont{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.noData{
    width:100%;
    height: 300px;
    position: relative;
    background: url(manager/resources/noData.png) no-repeat center bottom 40px;
    background-size:114px 174px;

    .tips{
        font-size: 16px;
        color: #ff9a00;
        position:absolute;
        bottom:20px;
        width: 100%;
        text-align:center;
        height: 20px;
        line-height: 20px;
    }

    .tipErr{
        font-size: 14px;
        color: #a0a0a0;
        position: absolute;
        bottom: 0;
        text-align: center;
        height: 20px;
        line-height: 20px;
        padding: 0 10px;
    }
}